*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: #2C2C2C;
    border-bottom: #fff 2.5px solid;
    position: fixed;
    top: 0; left: 0; right: 0; 
    padding: 4px 2%;
    align-items: center;
    display: flex;
    z-index: 1000;

}

.logo {
    color: #fff;
    font-size: 100%;
    padding: 10px;
    text-decoration: none;
    
}

.icon img {
    max-width: 35px;
    max-height: 35px;
}

.home {
    min-height: 100vh;
    display: flex;
    background: url(img/Visecure1.png);
    background-size: cover;
    justify-content: center;
    animation: home 5s steps(1) infinite;
}

@keyframes home {
    0% {
        background: url(img/Visecure1.png);
    }
    25% {
        background: url(img/Visecure2.png);
    }
    35% {
        background: url(img/Visecure6.png);
    }
   
}

.home .content h1 {
    font-size: 90px;
    line-height: 1;
    color: #fff;
    padding-top: 275px;
    word-spacing: 2px;
    padding-left: 50px;
    text-align: center;

}

.scroll-down {
    position: absolute;
    bottom: 20px;
    color:aliceblue;
    font-size: 18px;
    transform: translateX(-50%);
    left: 50%;
}

#container1 {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

#container1 img {
    width: 150vh;
    height: 100vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.content2 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}


h3, p {
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0d7ad4;
}

.icon2 img {
    max-width: 100px;
    max-height: 95px;
    margin-bottom: 20px;
}


footer {
    text-align: center; 
    margin-top: auto;
    background-color: #081b29; 
    color: #fff; 
    padding: 20px;
    font-size: 15px;
}
